<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="#"><i class='bx bx-home'></i> {{ 'header.home' | translate }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#about"><i class='bx bx-user'></i> {{ 'header.about' | translate }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#skills"><i class='bx bx-briefcase-alt'></i> {{ 'header.skills' | translate }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#cv"><i class='bx bx-file-blank'></i> CV</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#portfolio"><i class='bx bx-book-content'></i> Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#references"><i class='bx bxs-badge-check'></i> {{ 'header.references' | translate }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact"><i class='bx bx-envelope'></i> {{ 'header.contactMe' | translate }}</a>
            </li>
            <li class="nav-item">
              <mat-radio-group [(ngModel)]="language" (change)="languageChange($event)" aria-label="Select a language">
                <mat-radio-button value="en">English</mat-radio-button>
                <mat-radio-button value="fr" class="pl-3">日本語</mat-radio-button>
              </mat-radio-group>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>  